
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Rocket.Q Perguntas e Resposta</title>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- View Port -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/room.css">
    <link rel="stylesheet" href="/styles/modal.css">
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:400;500;700&display=swap" rel="stylesheet">

    <!-- SCRIPS -->
    <script src="scripts/main.js" defer type="module"> </script>
  
</head>

<body>
    <div id="room" class="content">
        <header>
            <a href="/">
                <img src="/images/logo.svg" alt="Rocket.Q Logo" />
            </a>
            <div class="buttons">
                <button class="button outlined" id="room-id" data-id="323243">
                    #323243
                    <img src="/images/copy-code.svg" alt="Copiar número da sala">
                </button>
                <a href="#" class="button">
                    <img src="/images/users-create.svg" alt="Criar uma sala">
                    Criar sala
                </a>
            </div>
        </header>
        <main>
            <seciont id="question-forms">
                <h2>Faça Sua Pergunta</h2>
                <form action="">

                    <label for="question" class="sr-only">O que você quer perguntar? </label>
                    <textarea placeholder="O que você quer perguntar?" name="question" id="question"></textarea>
                    <footer>
                        <div>
                            <img src="/images/lock.svg" alt="Cadeado">
                            Está pergunta é anônima
                        </div>
                            <button>Enviar</button>
                    </footer>
                </form>
            </seciont> 
            <section id="questions">
                <h2 class="sr-only">Perguntas da comunidade</h2>
                <div class="questions">
                    <div class="question-wrapper">
                        <div class="question-content">
                            <div class="user">
                                <img src="/images/user.svg" alt="Avatar">
                            </div>
                            <div class="question">
                                <p>Qual a diferença entre const, var e let no JavaScript?</p>
                            </div>
                        </div>
                        <div class="actions">
                            <a href="#" class="check" data-id="2">
                                <img src="/images/check.svg" alt="Marcar como lido">
                                Marcar como lido
                            </a> 
                            <a href="#" class="delete" data-id="2">
                                <img src="/images/trash.svg" alt="Deletar">
                                Excluir
                            </a>
                        </div>
                    </div>
                    <div class="question-wrapper">
                        <div class="question-content">
                            <div class="user">
                                <img src="/images/user.svg" alt="Avatar">
                            </div>
                            <div class="question">
                                <p>Você quais são as estapas para melhorar o seu conhecimento 
                                    e passar para o próximo nível, buscar  conhecimento é 
                                    fundamental para chegar lá estamos juntos nessa caminhada,
                                    todos somos capazes de subir de nível e conquistas os objetivos  
                                </p>
                            </div>
                        </div>
                        <div class="actions">
                            <a href="#" class="check" data-id="3">
                                <img src="/images/check.svg" alt="Marcar como lido">
                                Marcar como lido
                            </a>
                            <a href="#" class="delete" data-id="3">
                                <img src="/images/trash.svg" alt="Deletar">
                                Excluir
                            </a>
                        </div>
                    </div>
                    <div class="question-wrapper">
                        <div class="question-content">
                            <div class="user">
                                <img src="/images/user.svg" alt="Avatar">
                            </div>
                            <div class="question">
                                <p>O que é JavaScript?</p>
                            </div>
                        </div>
                        <div class="actions">
                            <a href="#" class="check" data-id="4">
                                <img src="/images/check.svg" alt="Marcar como lido">
                                Marcar como lido
                            </a>
                            <a href="#" class="delete" data-id="4">
                                <img src="/images/trash.svg" alt="Deletar">
                                Excluir
                            </a>
                        </div>
                    </div>
                    <div class="question-wrapper">
                        <div class="question-content">
                            <div class="user">
                                <img src="/images/user.svg" alt="Avatar">
                            </div>
                            <div class="question">
                                <p>O que é JavaScript?</p>
                            </div>
                        </div>
                        <div class="actions">
                            <a href="#" class="check" data-id="5">
                                <img src="/images/check.svg" alt="Marcar como lido">
                                Marcar como lido
                            </a>
                            <a href="#" class="delete" data-id="5">
                                <img src="/images/trash.svg" alt="Deletar">
                                Excluir
                            </a>
                        </div>
                    </div>
                    <div class="question-wrapper read">
                        <div class="question-content">
                            <div class="user">
                                <img src="/images/user.svg" alt="Avatar">
                            </div>
                            <div class="question">
                                <p>O que é TypeScript? </p>
                            </div>
                        </div>
                        <div class="actions">
                            <a href="#" class="check" data-id="1">
                                <img src="/images/check.svg" alt="Marcar como lido">
                                Pergunta lida
                            </a>
                            <a href="#" class="delete" data-id="1">
                                <img src="/images/trash.svg" alt="Deletar">
                                Excluir
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>

    <!-- MODAL -->
    <div class="modal-wrapper">
        <div class="modal">
            <h2>Excluir pergunta</h2>
            <p>Tem certeza que você deseja Excluir essa pergunta?</p>
            <form action="#" method="post">
                <label class="sr-only" for-id="password" >Digite sua senha Admin</label>
                <input id="password" name="password" type="password" placeholder="senha" />
                <div class="buttons">
                    <div class="button grey cancel">Cancelar</div>
                    <button class="red">Sim, excluir</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html> 