<section>
    <h2>Crie sua própria sala</h2>
    <form action="/create-room" method="post">
        <label class="sr-only" for="room-pass">Insira uma senha</label>
        <input required id="room-pass" name="password" type="password" placeholder="Insira uma senha">
        <button>
            <img src="/images/users-create.svg" alt="Entrar na sala">
            Criar sala
        </button>
    </form>
</section>